/* signUpForm.css */
.logo {
    width: 200px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
  }
.formContainer {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .formContainer h2 {
    margin-bottom: 20px;
  }
  
  .formContainer input[type="email"],
  .formContainer input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .formContainer button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .formContainer button:hover {
    background-color: #45a049;
  }
  
  .formContainer p {
    margin-top: 15px;
    text-align: center;
  }
  
  /* signIn.css */
  .formContainer {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .formContainer h2 {
    margin-bottom: 20px;
  }
  
  .formContainer input[type="email"],
  .formContainer input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .formContainer button {
    width: 100%;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .formContainer button:hover {
    background-color: #005f6b;
  }
  
  .formContainer p {
    margin-top: 15px;
    text-align: center;
  }
  